.iip-gut {
  
  &-block-toggle {
    align-items: center;
    display: flex;
    flex-basis: 15%;
    flex-direction: column;
    margin: 1rem;

    &-grid {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      justify-content: center;

      @media screen and (max-width: 768px) {
        grid-template-columns: 50% 50%;
      }

      @media screen and (max-width: 375px) {
        grid-template-columns: 100%;
      }

      @media screen and (min-width: 1700px) {
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      }
    }

    &-group {
      background-color: #FAFAFA;
      border: 1px solid #CCCCCC;
      box-shadow: 2px 2px 2px #BDBDBD;
      padding: 0 1rem 1rem;
      margin: 2rem 1rem;

      &-title {
        text-align: center;
      }
    }

    &-item {
      align-items: center;
      border: 1px solid #BDBDBD;
      border-radius: 5px;
      box-shadow: 2px 2px 5px #BDBDBD;
      display: flex;
      flex-direction: column;
      padding: .75rem .5rem;
      transition: scale 1s;
      width: 80%;

      &.disabled {

        background-color: #E0E0E0;
        box-shadow: inset 2px 2px 5px #bdbdbd;
        padding: .7rem .25rem;

        > svg {
          fill: #9E9E9E;
        }

        > strong {
          color: #9E9E9E;
        }
      
        &:active {
          padding: .75rem .5rem;
        }
        
        &:focus,
        &:hover {
          box-shadow: inset 0px 0px 10px #388E3C;

          > svg {
            fill: #444444;
          }

          > strong {
            color: #444444;
          }
        }
      }
      
      &.enabled {
      
        background-color: #FFFFFF;
      
        &:active {
          padding: .7rem .25rem;
        }
        
        &:focus,
        &:hover {
          box-shadow: 0px 0px 10px #D32F2F;
        }
      }
    }
  }

  &-floating-save {
    background-color: #32373c;
    bottom: 0;
    box-shadow: -3px -1px 10px #494949;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 -16px;
    padding: 10px 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1;

    > form {
      margin-right: 3rem;
    }
  }
}