.iip-gut {
  
  &-inspector {
    
    &-label {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
    }

    &-input {
      width: 65%;

      &.medium {
        width: 50%;
      }
    }
  }

  &-image-container {
    display: flex;
    justify-content: center;
  }
}