.iip-gut-add-to-cal {
  margin: 10px 0;
  display: flex;
  position: relative;

  &-button {
    background: #b80000;
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 20px 40px;
    width: 100%;
  }

  &-container {
    width: 324px;
  }

  &-dropdown {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: inherit;
  }
}

a.iip-gut-add-to-cal-link {
  border: #eeeeee solid 1px;
  border-top: none;
  display: block;
  font-size: 18px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: #f0f8ff;
    border-bottom: none;
    line-height: 1.7;
  }
}
